@import 'nib'

$helv    = 'Helvetica Neue', Helvetica, Arial, sans-serif
$advBold = 'adv', $helv
$mono    = Consolas, 'Lucida Console', 'DejaVu Sans Mono', Monaco, 'Courier New', monospace
$bgColor = #f6f7f9
$teal    = #22d3ad
$pink    = #EF187A

@font-face
  font-family: 'adv'
  src: url('../fonts/adventor-bold.eot')
  src: url('../fonts/adventor-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/adventor-bold.woff') format('woff'),
       url('../fonts/adventor-bold.ttf') format('truetype'),
       url('../fonts/adventor-bold.svg#texgyreadventorbold') format('svg')
  font-weight: bold
  font-style: normal


::-moz-selection
  background: #000
  color: #fff
  text-shadow: none


::selection
  background: #000
  color: #fff
  text-shadow: none

*
  box-sizing border-box


html
  background-color $bgColor
  font-family $helv
  font-size: 9px
  text-rendering: optimizeLegibility
  font-smoothing: antialiased
  color #222
  background-color #333

body
  margin 0
  padding 0
  padding-bottom 2rem


#logo
  width 100%
  background-color #333
  padding 0
  margin 0 auto
  max-width 180rem
  position relative

  img
    width 100%
    margin 0
    padding 0


#logo-lines
  opacity .3
  position relative
  pointer-events none


#logo-text
  position absolute
  top 5vw
  left 8rem
  line-height 1
  font-size 4vw
  color $teal

  h1
    margin 0
    display inline-block
    background-color rgba(51, 51, 51, .4)
    padding 1rem 2rem
    padding-bottom 2.5rem
    line-height 1

  h2
    color #fff
    font-size 3vw
    width 50%
    padding-left 2.5rem

    em
      font-style normal
      text-decoration underline


h1, h2, h3
  font-family $advBold


h4
  font-size 2.2rem
  color #999
  font-family $advBold


section
  position relative
  clear both
  margin 0 auto
  width 80%
  max-width 80rem
  color #eee


#actions
  width 80%
  margin 0 auto
  margin-top 5rem


#photo-drop, #bookmarklet
  font-weight 600
  display block
  color #555


#photo-drop
  border 1vw solid $pink
  width 30rem
  height 30rem
  padding 0 2rem
  text-align center
  position relative
  top 15%
  right 0
  background-color rgba(0, 0, 0, .5)
  overflow hidden
  position absolute
  margin-right 10%
  z-index 1000
  width 22vw
  height 22vw
  max-width 40rem
  max-height 40rem

  > *
    pointer-events none

  &.drag-hover
    border-color $teal

    > p
      transform translateY(500%)

    > div
      color #333

  > p
    position relative
    font-size 2vw
    font-family $helv
    z-index 1
    top 50%
    transform translateY(-50%)
    margin 0
    color #fff
    transition transform .3s

  > div
    font-weight bold
    font-size 30rem
    height 30rem
    position absolute
    width 100%
    top 36%
    left 0
    transform translateY(-50%)
    line-height 1
    color rgba(255, 255, 255, .25)
    margin 0



#bookmarklet
  text-align center
  margin-top 6rem
  color #ccc
  margin 0 auto
  max-width 50rem
  font-size 2.2rem
  background-color #444
  padding 2rem
  margin-bottom 8rem

  a
    background-color $teal
    color #333
    text-decoration none
    font-size 3rem
    padding 1rem
    padding-top 1.5rem
    cursor move
    display inline-block
    margin 2rem 0
    letter-spacing -1px
    font-family $mono
    font-weight 100
    font-style italic


    &:hover
      opacity .8


#output
  h2
    font-family $helv
    font-size 2rem

  img
    max-width 40%
    border 2rem solid #fff
    margin-right 1%
    margin-bottom 1%
    display inline-block

  &.hidden
    display none


h3
  font-size 3.5rem


p
  font-family $mono
  font-size 2rem
  color #bbb
  line-height 1.5

  a
    color $teal
    text-decoration none
    border-bottom 1px dashed #999

    &:hover
      color $pink


pre
  background-color #222
  color #eee
  padding 1rem
  font-size 1.4rem
  font-weight bold
  font-family $mono
  line-height 1.5
  border-radius 2px
  overflow hidden


footer
  text-align center
  margin 10rem 0
  font-size 2rem
  font-family $mono
  color #444

  a
    color #555


@media only screen and (max-width: 670px)

  section
    width 90%


  #output
    margin-top 10rem


  #actions
    margin-top 10rem


  #bookmarklet
    font-size 1.7rem


  #logo-lines
    visibility hidden


  #logo-text
    margin 0 auto
    font-size 3rem
    left 0

    h2
      font-size 2rem
      width 80%


  #photo-drop
    width 22rem
    height 22rem
    border-width 1rem
    margin-top -2rem
    margin-right 1rem
    display none


@media only screen and (min-width: 1600px)
  #logo-text
    h1
      font-size 14rem

    h2
      font-size 5.5rem

  #photo-drop > p
    font-size 4rem

