@import 'nib'

$helv    = 'Helvetica Neue', Helvetica, Arial, sans-serif
$advBold = 'adv', $helv
$mono    = Consolas, 'Lucida Console', 'DejaVu Sans Mono', Monaco, 'Courier New', monospace
$bgColor = #fff
$teal    = #00FFC6

@font-face
  font-family: 'adv'
  src: url('../fonts/adventor-bold.eot')
  src: url('../fonts/adventor-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/adventor-bold.woff') format('woff'),
       url('../fonts/adventor-bold.ttf') format('truetype'),
       url('../fonts/adventor-bold.svg#texgyreadventorbold') format('svg')
  font-weight: bold
  font-style: normal


::-moz-selection
  background: #000
  color: #fff
  text-shadow: none


::selection
  background: #000
  color: #fff
  text-shadow: none

*
  box-sizing border-box


html
  background-color $bgColor
  font-family $helv
  font-size: 9px
  text-rendering: optimizeLegibility
  font-smoothing: antialiased
  color #222


body
  margin 0
  padding 5rem 0
  text-align center
  width 800px
  margin 0 auto


#logo
  width 100%
  padding 0
  margin 0 auto
  max-width 100rem
  position relative

  img
    width 100%
    margin 0
    padding 0


#logo-lines
  opacity .3
  position relative
  pointer-events none


#logo-text
  position absolute
  text-align left
  top -2.5rem
  left -2.5rem
  line-height 1
  font-size 4rem
  color $teal

  h1
    font-family $helv
    color #fff
    margin 0
    display inline-block
    background-color rgba(0, 255, 198, .7)
    padding 1rem 2rem
    padding-bottom 1.7rem
    letter-spacing -0.2rem
    line-height 1

  h2
    color #555
    font-weight bold
    font-size 3.8rem
    width 80%
    padding-left 2.5rem
    line-height 1.3
    margin-top 1rem
    letter-spacing -0.2rem


h1, h2, h3
  font-family $helv


h4
  font-size 2.2rem
  color #999
  font-family $advBold


section
  position relative
  clear both
  margin 0 auto
  margin-bottom 8rem
  width 80%
  max-width 80rem
  color #eee


#actions
  width 80%
  margin 0 auto
  margin-top 5rem

header
  position relative
  height 40rem

#photo-drop, #bookmarklet
  font-weight 600
  display block
  position absolute
  color #555


#photo-drop
  left 0
  border 2rem solid #eee
  border-bottom-width 4.5rem
  width 32rem
  height 32rem
  padding 0 2rem
  text-align center
  background-color #444
  overflow hidden
  margin-top 5rem

  > *
    pointer-events none

  &.drag-hover
    border-color #ddd

    > p
      transform translateY(500%)

    > div
      color #fff

  > p
    text-align center
    position relative
    font-family $helv
    z-index 1
    top 50%
    transform translateY(-50%)
    margin 0
    color #fff
    transition transform .3s
    color $teal
    font-size 2.5rem

  > div
    font-weight bold
    font-size 30rem
    height 30rem
    position absolute
    width 100%
    top 36%
    left 0
    transform translateY(-50%)
    line-height 1
    color rgba(255, 255, 255, .25)
    margin 0



#bookmarklet
  right 0
  top 5rem
  text-align center
  margin-top 6rem
  color #888
  margin 0 auto
  max-width 42rem
  font-size 2.2rem
  background-color #eee
  padding 2rem
  margin-bottom 8rem

  a
    background-color #444
    color $teal
    text-decoration none
    font-size 3rem
    padding 1rem
    padding-top 1.5rem
    cursor move
    display inline-block
    margin 2rem 0
    letter-spacing -1px
    font-family $mono
    font-weight 100
    font-style italic


    &:hover
      opacity .8


#output
  text-align center
  h2
    font-family $helv
    font-size 2rem
    color #666

  img
    max-width 40%
    border 2rem solid #fff
    margin-right 1%
    margin-bottom 1%
    display inline-block

  &.hidden
    display none


h3
  font-size 3.5rem
  color #666
  font-weight 200
  text-align left


p
  text-align left
  font-family $mono
  font-size 2rem
  color #444
  line-height 1.5

  a
    color $teal
    text-decoration none
    border-bottom 1px dashed #999

    &:hover
      color #0000ff


pre
  text-align left
  background-color #444
  color #eee
  padding 1rem
  font-size 1.4rem
  font-weight bold
  font-family $mono
  line-height 1.5
  border-radius 2px
  overflow hidden


footer
  text-align center
  margin 10rem 0
  font-size 2rem
  font-family $mono
  color #444

  a
    color #555
